/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
 @charset "utf-8";
 @import "compass/reset"; //编写自己的样式之前，有必要重置浏览器的默认样式。
 @import "compass/css3"; //该模块提供19种CSS3命令
 @import "compass/layout"; //该模块提供布局功能
 @import "compass/typography"; //typography模块  该模块提供版式功能。
 @import "compass/utilities"; //utilities模块 该模块提供某些不属于其他模块的功能。 
 @import "compass";
@import "compass/reset";
@import "top";
@import "lunbo";
@import "fllm";
$page_width:1282px;
$page_container:100%;

%box {
    width: $page_width;
   
    margin: 0 auto;
}
/*这是公告的样式*/
#gonggao1{
    @extend %box;
    height:52px;
    background:#fe0000;
    margin:27px auto 10px;
    display: flex;
    justify-content: space-between;
    
      .nextbutton{
      width:62px;
        height:52px;
       background: url("https://www.uniqlo.cn/public/image/L1/2019/common/notice_next.png") no-repeat 
      }
      .prevbutton{
        width:62px;
          height:52px;
         background: url("https://www.uniqlo.cn/public/image/L1/2019/common/notice_prev.png") no-repeat 
        }
     
    ul{
      overflow: hidden;
      height:52px;
      width:1158px;
     
      li{
        background:#fe0000;
        width:1158px;
        height:52px;
           font-size:20px;
           color:white;
        float:left;  
      }
      }
    }
/**********这是楼梯的样式********/ 
  #louti{
    @extend %box;
    height:82px;
    background:#a91523;
    ul{
      display:flex;
      height:82px;
      justify-content: space-evenly;
     
      li{
        
        color:#ffe699;
        line-height:38px;
        font-size:20px;
        padding:18px;
       
      }
    }
    
  
  }
/**********这是广告的样式***********/ 
  .guanggao1{
    @extend %box;
    height:74px;
   img{
     width:100%;
     height:100%
   }
    margin:26px auto 14px
  }
/******这是广告的样式*******/ 
  .guanggao2{
    @extend %box;
    height:162px;
    img{
      width:100%;
      height:100%
    }
    margin-bottom:17px;
  }
  .guanggao3{
    @extend %box;
    height:205px;
    img{
      width:100%;
      height:100%
    }
    margin-bottom:17px;
  }
  #rqbd{
    @extend %box;
    height:646px;
    background:lightcoral;

  }


  #tj{
    @extend %box;
    height:639px;
 
    p{
      font-size:30px;
      font-weight:bold;
      margin-bottom:30px;
    }
    img{
      width:100%;
      height:578px;

    }
   
    
  }

  #nzktj{
    @extend %box;
    height:997px;
 
    margin-top:30px;
   
    .nzkimg1{
      width:100%;
      height:433px;
      margin-bottom:40px; 
  }
  .nzkimg2{
    width:100%;
    height:520px;
  }
}
  #rqsp{
    @extend %box;
    height:1182px;
    
    margin-top:60px;
    p{
      font-size:30px;
      font-weight:bold;
      margin-bottom:30px;
    }
    .rqspimg1{
      width:100%;
      height:578px;
      margin-bottom:30px;

    }
    .rqspimg2{
      width:100%;
      height:512px;
    }
  }
  
  #xsty{
    @extend %box;
    height:1182px;
    margin-top:60px;
    p{
      font-size:30px;
      font-weight:bold;
      margin-bottom:30px;
    }
    .xstyimg1{
      width:100%;
      height:578px;
      margin-bottom:30px;

    }
    .xstyimg2{
      width:100%;
      height:512px;
    }
  }
  .guanggao4{
    @extend %box;
    height:202px;
    img{
      width:100%;
      height:100%
    }
    margin:38px auto 63px;
  }
  #rmsp{
    @extend %box;
    height:963px;
  
    margin-top:67px;
    p{
      font-size:30px;
      font-weight:bold;
      margin-bottom:30px;
    }
    ul{
      widows: 100%;
      display:flex;
      margin-bottom:30px;
    }
    li{
      width:25%;
      text-align: center;
      border-bottom:1px solid #ababab;
      line-height:78px;
      a{
        text-decoration: none;
        color:#ababab
      }
      a:active{
       
        color:black
      }
    a:hover{
      color:black
    }
    }
    
  }
  #tjyl{
    @extend %box;
    height:1144px;
    background:lightslategrey;
    margin-top:67px
    
  }
  #hz{
    @extend %box;
    height:1144px;
    background:lightslategrey;
    margin-top:80px
    
  }

  #utxl{
    @extend %box;
    height:1214px;
    background:lightslategrey;
    margin-top:64px
    
  }
  #fw{
    @extend %box;
    height:665px;
    background:lightslategrey;
    margin-top:55px
    
  }

  #daogou{
    @extend %box;
    height:479px;
    background:lightslategrey;
    margin-top:80px
    
  }
  #footer{
    @extend %box;
    height:176px;
    background:lightslategrey;
    margin-top:24px
    
  }