@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Ruby26-x64/lib/ruby/gems/2.6.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* 这是头部的样式*/
/* line 4, ../sass/_top.scss */
#top {
  height: 100px;
}

/* 这是头部注册登录导航的样式*/
/* line 12, ../sass/_top.scss */
.top-main {
  height: 35px;
  display: flex;
  justify-content: flex-end;
}
/* line 16, ../sass/_top.scss */
.top-main ul {
  display: flex;
}
/* line 20, ../sass/_top.scss */
.top-main ul li {
  justify-content: flex-end;
  border-right: 1px dotted #ababab;
  font-size: 12px;
  padding: 0 15px;
  margin-top: 15px;
}
/* line 26, ../sass/_top.scss */
.top-main ul li a {
  color: black;
  text-decoration: none;
}
/* line 35, ../sass/_top.scss */
.top-main form {
  border-bottom: 1px solid #ababab;
  width: 249px;
  margin-left: 20px;
  padding-top: 14px;
}
/* line 41, ../sass/_top.scss */
.top-main form input {
  border: 0;
  outline: none;
}

/******这是头部女装企业信息的样式*******/
/* line 51, ../sass/_top.scss */
.top-item {
  display: flex;
  margin-top: 13px;
  justify-content: space-between;
}
/* line 55, ../sass/_top.scss */
.top-item img {
  justify-content: space-between;
  width: 52px;
  height: 52px;
}
/* line 61, ../sass/_top.scss */
.top-item .leftul {
  justify-content: space-between;
  display: flex;
  padding: 17px 0;
}
/* line 65, ../sass/_top.scss */
.top-item .leftul li {
  height: 23px;
  border-right: 1px dotted #ababab;
  padding: 0 20px;
  line-height: 23px;
  font-weight: bold;
}
/* line 74, ../sass/_top.scss */
.top-item .leftul li a {
  color: black;
  text-decoration: none;
  border-right: 1px dotted white;
  font-size: 12px;
}
/* line 82, ../sass/_top.scss */
.top-item .leftul li a:hover {
  color: red;
}
/* line 87, ../sass/_top.scss */
.top-item .leftul li:nth-of-type(4) {
  border: 0;
}
/* line 92, ../sass/_top.scss */
.top-item .rightul {
  margin-left: 40px;
  display: flex;
}
/* line 97, ../sass/_top.scss */
.top-item .rightul li {
  background: #a1a1a1;
  padding: 0 18px;
  font-size: 12px;
  font-weight: bold;
  line-height: 50px;
}
/* line 107, ../sass/_top.scss */
.top-item .rightul li span {
  width: 0px;
  height: 30px;
  margin-left: 20px;
  border-right: 1px dotted white;
}
/* line 114, ../sass/_top.scss */
.top-item .rightul li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}
/* line 120, ../sass/_top.scss */
.top-item .rightul li a:hover {
  color: red;
}
/* line 125, ../sass/_top.scss */
.top-item .rightul li:nth-of-type(5) {
  background: #666666;
}
/* line 128, ../sass/_top.scss */
.top-item .rightul li:nth-of-type(6) {
  background: #3c3c3c;
}

/* line 2, ../sass/_lunbo.scss */
#lunbo {
  height: 567px;
  position: relative;
  margin: 14px auto 0px;
}
/* line 9, ../sass/_lunbo.scss */
#lunbo ul {
  overflow: hidden;
  height: 567px;
}
/* line 12, ../sass/_lunbo.scss */
#lunbo ul li {
  width: 1282px;
  height: 567px;
}
/* line 15, ../sass/_lunbo.scss */
#lunbo ul li float:left
img {
  width: 100%;
  height: 567px;
}
/* line 25, ../sass/_lunbo.scss */
#lunbo .prev-button {
  position: absolute;
  left: -23px;
  top: 239px;
  width: 10px;
  height: 50px;
  background: url("https://img.alicdn.com/imgextra/i4/196993935/TB2x9r2cnAlyKJjSZPiXXXL2VXa-196993935.png") no-repeat;
}
/* line 33, ../sass/_lunbo.scss */
#lunbo .next-button {
  position: absolute;
  right: -13px;
  top: 239px;
  width: 10px;
  height: 50px;
  background: url("https://img.alicdn.com/imgextra/i1/196993935/TB2Vxnfbo.iyKJjSspdXXbB_pXa-196993935.png") no-repeat;
}

/******这是轮播图按钮的样式********/
/* line 48, ../sass/_lunbo.scss */
.button {
  height: 64px;
  position: relative;
}
/* line 53, ../sass/_lunbo.scss */
.button ul {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 100px;
  height: 10px;
}
/* line 63, ../sass/_lunbo.scss */
.button li {
  float: left;
  width: 10px;
  height: 10px;
  background: #d1d1d1;
  margin-right: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 1, ../sass/_fllm.scss */
#fllm {
  width: 1282px;
  height: 73px;
  margin: 54px auto;
}
/* line 6, ../sass/_fllm.scss */
#fllm ul {
  width: 100%;
  display: flex;
}
/* line 11, ../sass/_fllm.scss */
#fllm li {
  width: 25%;
}
/* line 13, ../sass/_fllm.scss */
#fllm li p:nth-of-type(1) {
  height: 18px;
  text-align: center;
  margin-bottom: 30px;
  border-right: 1px solid #ababab;
}
/* line 20, ../sass/_fllm.scss */
#fllm li p:nth-of-type(2) {
  font-size: 14px;
  text-align: center;
}
/* line 25, ../sass/_fllm.scss */
#fllm li p:nth-of-type(2) a {
  display: inline-block;
  margin-right: 20px;
  color: black;
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 2px solid #dadada;
}
/* line 34, ../sass/_fllm.scss */
#fllm li p:nth-of-type(2) a:hover {
  color: green;
}
/* line 38, ../sass/_fllm.scss */
#fllm li p:nth-of-type(2) li:nth-of-type(4) p:nth-of-type(1) {
  border: none;
}

/* line 19, ../sass/index.scss */
#top, #lunbo, .button, #gonggao1, #louti, .guanggao1, .guanggao2, .guanggao3, #rqbd, #tj, #nzktj, #rqsp, #xsty, .guanggao4, #rmsp, #cdtj, #tjyl, #hz, #utxl, #rxph, #fw, #daogou, #footer {
  width: 1282px;
  margin: 0 auto;
}

/*这是公告的样式*/
/* line 25, ../sass/index.scss */
#gonggao1 {
  height: 52px;
  background: #fe0000;
  margin: 27px auto 10px;
  display: flex;
  justify-content: space-between;
}
/* line 33, ../sass/index.scss */
#gonggao1 .nextbutton {
  width: 62px;
  height: 52px;
  background: url("https://www.uniqlo.cn/public/image/L1/2019/common/notice_next.png") no-repeat center center;
}
/* line 38, ../sass/index.scss */
#gonggao1 .prevbutton {
  width: 62px;
  height: 52px;
  background: url("https://www.uniqlo.cn/public/image/L1/2019/common/notice_prev.png") no-repeat center center;
}
/* line 44, ../sass/index.scss */
#gonggao1 ul {
  overflow: hidden;
  height: 52px;
  width: 1158px;
}
/* line 49, ../sass/index.scss */
#gonggao1 ul li {
  background: #fe0000;
  width: 1158px;
  height: 52px;
  font-size: 20px;
  color: white;
  float: left;
}

/**********这是楼梯的样式********/
/* line 60, ../sass/index.scss */
#louti {
  height: 82px;
  background: #a91523;
}
/* line 64, ../sass/index.scss */
#louti ul {
  display: flex;
  height: 82px;
  justify-content: space-evenly;
}
/* line 69, ../sass/index.scss */
#louti ul li {
  line-height: 38px;
  font-size: 20px;
  padding: 18px;
}
/* line 75, ../sass/index.scss */
#louti ul li a {
  color: #ffe699;
  text-decoration: none;
}

/**********这是广告的样式***********/
/* line 86, ../sass/index.scss */
.guanggao1 {
  height: 74px;
  margin: 26px auto 14px;
}
/* line 89, ../sass/index.scss */
.guanggao1 img {
  width: 100%;
  height: 100%;
}

/******这是广告的样式*******/
/* line 96, ../sass/index.scss */
.guanggao2 {
  height: 162px;
  margin-bottom: 17px;
}
/* line 99, ../sass/index.scss */
.guanggao2 img {
  width: 100%;
  height: 100%;
}

/******这是广告的样式*******/
/* line 106, ../sass/index.scss */
.guanggao3 {
  height: 205px;
  margin-bottom: 17px;
}
/* line 109, ../sass/index.scss */
.guanggao3 img {
  width: 100%;
  height: 100%;
}

/*******这是人气榜单的样式*******/
/* line 117, ../sass/index.scss */
#rqbd {
  height: 646px;
  background: lightcoral;
  position: relative;
}
/* line 122, ../sass/index.scss */
#rqbd ul {
  width: 878px;
  display: flex;
  justify-content: space-between;
  left: 131px;
  top: 111px;
  position: absolute;
}
/* line 129, ../sass/index.scss */
#rqbd ul li {
  margin-right: 40px;
}
/* line 131, ../sass/index.scss */
#rqbd ul li a {
  display: inline-block;
  width: 100px;
  height: 30px;
  font-size: 24px;
  text-decoration: none;
  color: black;
  text-align: center;
}
/* line 141, ../sass/index.scss */
#rqbd ul li a:hover {
  border-radius: 10%;
  color: white;
  background-color: blue;
}
/* line 146, ../sass/index.scss */
#rqbd ul li a:before {
  content: "";
  position: absolute;
  left: -54px;
  top: -8px;
  width: 50px;
  height: 50px;
  background-image: url("https://img.alicdn.com/imgextra/i2/196993935/O1CN01pUmIvI1ewH6As5eFD_!!196993935.png");
}
/* line 158, ../sass/index.scss */
#rqbd .rqbdimg1 {
  height: 642px;
}
/* line 160, ../sass/index.scss */
#rqbd .rqbdimg1 a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 166, ../sass/index.scss */
#rqbd .rqbdimg2 {
  height: 642px;
}
/* line 168, ../sass/index.scss */
#rqbd .rqbdimg2 a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 172, ../sass/index.scss */
#rqbd .rqbdimg2 a img {
  display: none;
}
/* line 177, ../sass/index.scss */
#rqbd .rqbdimg3 {
  height: 642px;
}
/* line 179, ../sass/index.scss */
#rqbd .rqbdimg3 a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 183, ../sass/index.scss */
#rqbd .rqbdimg3 a img {
  display: none;
}
/* line 189, ../sass/index.scss */
#rqbd .rqbdimg4 {
  height: 642px;
}
/* line 191, ../sass/index.scss */
#rqbd .rqbdimg4 a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 195, ../sass/index.scss */
#rqbd .rqbdimg4 a img {
  display: none;
}

/*******这是本周推荐的样式*******/
/* line 203, ../sass/index.scss */
#tj {
  height: 639px;
}
/* line 207, ../sass/index.scss */
#tj p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 212, ../sass/index.scss */
#tj img {
  width: 100%;
  height: 578px;
}

/*******这是牛仔裤推荐的样式*******/
/* line 221, ../sass/index.scss */
#nzktj {
  height: 997px;
  margin-top: 30px;
}
/* line 227, ../sass/index.scss */
#nzktj .nzkimg1 {
  width: 100%;
  height: 433px;
  margin-bottom: 40px;
}
/* line 232, ../sass/index.scss */
#nzktj .nzkimg2 {
  width: 100%;
  height: 520px;
}

/*******这是人气商品的样式*******/
/* line 238, ../sass/index.scss */
#rqsp {
  height: 1182px;
  margin-top: 60px;
}
/* line 243, ../sass/index.scss */
#rqsp p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 248, ../sass/index.scss */
#rqsp .rqspimg1 {
  width: 100%;
  height: 578px;
  margin-bottom: 30px;
}
/* line 254, ../sass/index.scss */
#rqsp .rqspimg2 {
  width: 100%;
  height: 512px;
}

/*******这是限时特优的样式*******/
/* line 260, ../sass/index.scss */
#xsty {
  height: 1182px;
  margin-top: 60px;
}
/* line 264, ../sass/index.scss */
#xsty p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 269, ../sass/index.scss */
#xsty .xstyimg1 {
  width: 100%;
  height: 578px;
  margin-bottom: 30px;
}
/* line 275, ../sass/index.scss */
#xsty .xstyimg2 {
  width: 100%;
  height: 512px;
}

/*******这是广告的样式*******/
/* line 281, ../sass/index.scss */
.guanggao4 {
  height: 202px;
  margin: 38px auto 63px;
}
/* line 284, ../sass/index.scss */
.guanggao4 img {
  width: 100%;
  height: 100%;
}

/*******这是热门商品分类的样式*******/
/* line 292, ../sass/index.scss */
#rmsp {
  height: 963px;
  margin-top: 67px;
}
/* line 298, ../sass/index.scss */
#rmsp p {
  font-size: 30px;
  font-weight: bold;
}
/* line 303, ../sass/index.scss */
#rmsp ul {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
}
/* line 307, ../sass/index.scss */
#rmsp ul li {
  width: 25%;
  text-align: center;
  border-bottom: 1px solid #ababab;
  line-height: 78px;
}
/* line 312, ../sass/index.scss */
#rmsp ul li a {
  text-decoration: none;
  color: #ababab;
  font-weight: bold;
}
/* line 319, ../sass/index.scss */
#rmsp ul li a:hover {
  color: black;
}
/* line 324, ../sass/index.scss */
#rmsp .rmspimg1 {
  height: 828px;
}
/* line 326, ../sass/index.scss */
#rmsp .rmspimg1 a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 336, ../sass/index.scss */
#rmsp .rmspimg2 {
  height: 828px;
}
/* line 338, ../sass/index.scss */
#rmsp .rmspimg2 a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 342, ../sass/index.scss */
#rmsp .rmspimg2 a img {
  display: none;
}
/* line 349, ../sass/index.scss */
#rmsp .rmspimg3 {
  height: 828px;
}
/* line 351, ../sass/index.scss */
#rmsp .rmspimg3 a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 355, ../sass/index.scss */
#rmsp .rmspimg3 a img {
  display: none;
}
/* line 360, ../sass/index.scss */
#rmsp .rmspimg4 {
  height: 828px;
}
/* line 362, ../sass/index.scss */
#rmsp .rmspimg4 a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
/* line 366, ../sass/index.scss */
#rmsp .rmspimg4 a img {
  display: none;
}

/*******这是穿搭推荐的样式*******/
/* line 375, ../sass/index.scss */
#cdtj {
  margin-top: 67px;
}
/* line 379, ../sass/index.scss */
#cdtj p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

/*******这是特辑一览的样式*******/
/* line 387, ../sass/index.scss */
#tjyl {
  margin-top: 67px;
}
/* line 391, ../sass/index.scss */
#tjyl p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 396, ../sass/index.scss */
#tjyl .tjylimg1 {
  margin-bottom: 30px;
}

/*******这是合作系列的样式*******/
/* line 401, ../sass/index.scss */
#hz {
  height: 1144px;
  margin-top: 80px;
}
/* line 406, ../sass/index.scss */
#hz p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 411, ../sass/index.scss */
#hz .hzimg1 {
  margin-bottom: 30px;
}

/*******这是ut系列的样式*******/
/* line 419, ../sass/index.scss */
#utxl {
  height: 1214px;
  margin-top: 64px;
}
/* line 424, ../sass/index.scss */
#utxl p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 429, ../sass/index.scss */
#utxl .utimg1 {
  margin-bottom: 30px;
}

/*******这是热销排行的样式*******/
/* line 437, ../sass/index.scss */
#rxph {
  margin-top: 67px;
  height: 561px;
}
/* line 441, ../sass/index.scss */
#rxph p {
  font-size: 30px;
  font-weight: bold;
}
/* line 446, ../sass/index.scss */
#rxph ul {
  widows: 100%;
  display: flex;
  margin-bottom: 30px;
}
/* line 450, ../sass/index.scss */
#rxph ul li {
  width: 25%;
  text-align: center;
  border-bottom: 1px solid #ababab;
  line-height: 78px;
}
/* line 455, ../sass/index.scss */
#rxph ul li a {
  text-decoration: none;
  color: #ababab;
  font-weight: bold;
}
/* line 462, ../sass/index.scss */
#rxph ul li a:hover {
  color: black;
}
/* line 468, ../sass/index.scss */
#rxph .rxphimg1 {
  height: 422px;
}
/* line 470, ../sass/index.scss */
#rxph .rxphimg1 a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
/* line 478, ../sass/index.scss */
#rxph .rxphimg2 {
  height: 422px;
}
/* line 480, ../sass/index.scss */
#rxph .rxphimg2 a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
/* line 484, ../sass/index.scss */
#rxph .rxphimg2 a img {
  display: none;
}
/* line 490, ../sass/index.scss */
#rxph .rxphimg3 {
  height: 422px;
}
/* line 492, ../sass/index.scss */
#rxph .rxphimg3 a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
/* line 496, ../sass/index.scss */
#rxph .rxphimg3 a img {
  display: none;
}
/* line 502, ../sass/index.scss */
#rxph .rxphimg4 {
  height: 422px;
}
/* line 504, ../sass/index.scss */
#rxph .rxphimg4 a {
  display: inline-block;
  height: 100%;
  width: 100%;
}
/* line 508, ../sass/index.scss */
#rxph .rxphimg4 a img {
  display: none;
}

/*******这是便利服务的样式*******/
/* line 518, ../sass/index.scss */
#fw {
  height: 728px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}
/* line 524, ../sass/index.scss */
#fw p {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}
/* line 529, ../sass/index.scss */
#fw .tips {
  margin-top: 100px;
  text-align: center;
  border-bottom: 1px solid #ababab;
  padding-bottom: 30px;
}
/* line 535, ../sass/index.scss */
#fw .tips h3 {
  font-weight: bold;
  margin-bottom: 15px;
}
/* line 539, ../sass/index.scss */
#fw .tips h4 a {
  color: black;
}

/******这是导购的样式******/
/* line 545, ../sass/index.scss */
#daogou {
  height: 479px;
  background: lightslategrey;
  margin-top: 78px;
}

/******这是尾部的样式******/
/* line 553, ../sass/index.scss */
#footer {
  height: 176px;
  margin-top: 24px;
}
/* line 560, ../sass/index.scss */
#footer .footer-nav {
  width: 100%;
  height: 52px;
  display: flex;
  margin-bottom: 20px;
  background-color: black;
}
/* line 566, ../sass/index.scss */
#footer .footer-nav img {
  width: 52px;
  height: 52px;
}
/* line 570, ../sass/index.scss */
#footer .footer-nav .footer-leftnav {
  display: flex;
  height: 52px;
}
/* line 573, ../sass/index.scss */
#footer .footer-nav .footer-leftnav span {
  width: 0px;
  height: 24px;
  border-right: 1px dotted  white;
  margin: 14px 0;
}
/* line 580, ../sass/index.scss */
#footer .footer-nav .footer-leftnav h3 {
  padding: 17px 120px 17px 120px;
}
/* line 582, ../sass/index.scss */
#footer .footer-nav .footer-leftnav h3 a {
  font-size: 12px;
  color: white;
  text-decoration: none;
}
/* line 593, ../sass/index.scss */
#footer .footeritem {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* line 597, ../sass/index.scss */
#footer .footeritem a {
  font-size: 14px;
  color: #ababab;
  text-decoration: none;
}

/******这是回到顶部的样式******/
/* line 607, ../sass/index.scss */
#topbutton {
  width: 50px;
  font-size: 12px;
  height: 12px;
  background: white;
  color: black;
  position: absolute;
  right: 0;
  bottom: 100px;
  border: 1px solid #ababab;
  text-align: center;
  padding: 19px 0;
}
